@use 'assets/styles/colors' as color
    
body, html
    margin: 0
    padding: 0
    background-color: color.$body-color
a
    text-decoration: none

button
    border: none
    padding: 0
    margin: 0
    outline: none
    background: unset
    cursor: pointer